{% extends "base.html" %}
{% block content %}
<style>
    .artworks-container {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2% 5%;
        background: black;
        text-align: center;
        color: gray;
        width: 100%;
    }

    .artworks img {
        max-height: 300px;
        max-width: 100%;
        object-fit: cover;
        margin: 1%;
    }
    .artworks-container h3{
        font-size: 2.2rem;
    }
    .artworks-container p {
        font-size: 1.2rem;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
#full-size-img-box {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: white;
}
#full-size-img-box img {
    max-height:80vh;
    max-width:100vw;
}
#full-size-img-box h3 {
    font-size:1.5rem;
}
.artwork-popup {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#artwork-popup {
    display:none;
}
.artwork-popup {
    z-index: 100;
}
#artwork-popup-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Cover the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 1; /* Ensure it's behind the popup */
}
.artwork-popup p, .artwork-popup a {
    font-size: 1rem;
}

.cover-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
}
.cover-img-container img{
    object-fit: cover;
    max-height: 80vh;
    max-width: 70%;
}

iframe {
    aspect-ratio: 16/9;
    width: 100% !important;
}

@media only screen and (min-width : 1900px) {

}
@media only screen and (max-width : 1900px) {
    .artworks-container h3{
        font-size: 1.8rem;
    }
    .artworks-container p {
        font-size: 1rem;
    }
    .artworks img {
        max-height: 230px;
    }
}
.artwork-popup p, .artwork-popup a {
    font-size: 1rem;
}
@media only screen and (max-width : 1440px) {
    .artworks img {
        max-height: 170px;
    }
    .artworks-container h3{
        font-size: 1.6rem;
    }
    .artworks-container p {
        font-size: 0.9rem;
    }

#full-size-img-box h3 {
    font-size:1.3rem;
}
}
@media only screen and (max-width : 1024px) {
    .artworks-container h3{
        font-size: 1.4rem;
    }
#artwork-popup {
    padding-bottom:2%;
}
 .artworks img {
        height: 128px;
    }
    .artworks-container p {
        font-size: 0.8rem;
    }
#full-size-img-box h3 {
    font-size:1.2rem;
}
}
@media only screen and (max-width : 768px) {
     .artworks img {
        height: 120px;
    }
    .artworks-container h3{
        font-size: 1.3rem;
    }
    .artwork-popup p, .artwork-popup a {
        font-size: 0.8rem;
    }
#full-size-img-box h3 {
    font-size:1.1rem;
}
}
@media only screen and (max-width : 576px) {
    .artworks img {
        height: 100px;
    }
    .artworks-container h3{
        font-size: 1.2rem;
        padding-top:4%;
    }
    .artwork-popup p, .artwork-popup a {
        font-size: 0.7rem;
    }
#full-size-img-box h3 {
    font-size:1rem;

}
}
</style>
<!--<div style="background: black;">-->
<!--    <div class="artworks-container">-->
<!--        <h3>COVEN - Concept & Design</h3>-->
<!--    </div>-->
<!--    <div class="cover-img-container">-->
<!--        <img src="../static/images/concepts/Coven/full/Colored_Render-f.jpg" loading="lazy">-->
<!--    </div>-->
<!--    <div class="artworks-container">-->
<!--        <P>Please click small images to view in large size.</P>-->
<!--        <div class="artworks">-->
<!--        {% for img in dict_1 %}-->
<!--        <a type="button" onclick="openFullImage('{{dict_1[img]['full']}}', '{{dict_1[img]['title']}}')"><img src="{{dict_1[img]['thumbnail']}}"></a>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="cover-img-container">-->
<!--        <img src="../static/images/concepts/Coven/full/Level_Basic_Layout-f.jpg" loading="lazy">-->
<!--        <p style="color:#BFBFBF;">Level Basic Layout</p>-->
<!--    </div>-->
<!--    <div class="artworks-container">-->
<!--        <P>Please click small images to view in large size.</P>-->
<!--        <div class="artworks">-->
<!--        {% for img in dict_2 %}-->
<!--        <a type="button" onclick="openFullImage('{{dict_2[img]['full']}}', '{{dict_2[img]['title']}}')"><img src="{{dict_2[img]['thumbnail']}}"></a>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--    </div>-->

<!--&lt;!&ndash; Image full size zoom popup &ndash;&gt;-->
<!--    <div id="artwork-popup-overlay" onclick="closeFullImage()"></div>-->
<!--    <div class="artwork-popup">-->
<!--        <div id="artwork-popup">-->
<!--            <div style="display:flex; justify-content:space-between; width:100%; background:black; color:gray; padding:1% 2% 0% 2%;">-->
<!--                <p>IMAGE VIEWER</p>-->
<!--                <a type="button" style="color:white;" onclick="closeFullImage()">Close</a>-->
<!--            </div>-->
<!--            <div id="full-size-img-box">-->
<!--                <h3 id="artwork-title"></h3>-->
<!--                <img id="full-size-img" src="">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div style="display:flex; width:100%; justify-content:center; background:black; padding:0% 20%;">
    <iframe src="https://www.youtube.com/embed/EW1wLHYP0mQ?si=7jqgisHy3JFFq-3G"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>


<div class="full-width-column-container">
    <p class="heading-large white">COVEN-Concept & Design</p>
    <div class="two-img">
        <img src="../static/images/concepts/Coven/full/Colored_Render-f.jpg" loading="lazy">s
        <img src="../static/images/concepts/Coven/full/Developed_Final_Thumbnail-f.jpg" loading="lazy">
    </div>
    <img src="../static/images/concepts/Coven/full/Selected_3_Thumbnails-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Thumbnail_Exploration-f.jpg" loading="lazy">
    <div class="two-img">
        <img src="../static/images/concepts/Coven/full/Level_Basic_Layout-f.jpg" loading="lazy">
        <img src="../static/images/concepts/Coven/full/Tower_Silhouettes-f.jpg" loading="lazy">
    </div>
    <img src="../static/images/concepts/Coven/full/Tower_Developed_Thumbnails-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Unity_ss-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Tower_Concept-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Tower-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Cart-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Broom_Drawing-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Witch_Broom_-_Jet_Propelled-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Trim_Set_1-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/gateway_streetlight-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Gateway-f.jpg" loading="lazy">
    <img src="../static/images/concepts/Coven/full/Street_lamp-f.jpg" loading="lazy">
    <p class="heading-medium white">Custom Multi-Texture Shader</p>
    <p class="text text-center white">As Unity 6.3 deprecated POLYBRUSH I created my own URP shader with the following features:</p>
    <div class="text white">
        <li> 4 layer textures with all the main maps (Albedo, Metallic-smoothness, Normal)</li><li>Additional color
        multiplier with each Albedos to for final Albedo adjustment</li><li>Masking using RGB Map</li><li>Separate
        Metallic, Smoothness and Normal intensity controller for each Textures</li><li>Unified tiling input (common for
        all maps) for each texture</li><li>Optimized Texture samples using SamplerState</li>
    </div>
    <img src="../static/images/concepts/Coven/full/Multi-texture-shader-graph-f.jpg" loading="lazy">
</div>
<script src="/static/js/portfolio.js"></script>
{% endblock %}