{% extends "base.html" %}
{% block content %}
<style>

</style>
<p class="heading-medium text-center" style="padding: 1% 0%;"> ENVIRONMENT/LEVEL CONCEPTS</p>
<div class="projects-container">
    {% for project in project_list %}
    <div style="display:flex; flex-direction:column; width:50%; padding:0% 1% 2% 1%;">
        <p class="heading-small">{{project}}</p>
        <img src="static/images/concepts/{{project}}/Hero.jpg" loading="lazy">
        <a class="btn-1 text-center" href="{{url_for('main.concept_artworks', project=project)}}">EXPLORE</a>
    </div>
    {% endfor %}
</div>

{% endblock %}